/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: linear-gradient(135deg, #103a62 0%, #051834 50%, #0b244d 100%);
  color: #f8f9fa;
  scroll-behavior: smooth;
}
section {
  position: relative;
  z-index: 1;
}
header {
  position: fixed;
  z-index: 1000;
}
.modal {
  z-index: 2000;
}

.modal-content {
  z-index: 2001;
}
